body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: url('/images/keyvisual.jpg') no-repeat center center; 
    background-size: cover;
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* 背景画像上のテキストの可読性を高めるための半透明の黒色背景 */
    border-radius: 10px; /* 角を少し丸める */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストの影を付ける */
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
main {
    padding: 20px;
}
.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
}